JWT_SECRET=Your_JWT_Secret
MONGO_INITDB_ROOT_USERNAME=Your_Mongo_Root_Username
MONGO_INITDB_ROOT_PASSWORD=Your_Mongo_Root_Password
MONGO_URI=Your_Mongo_URI
LOCALHOST=Your_Localhost
PORT=Your_Port
NODE_ENV=Your_Node_Environment
DEBUG=Your_Debug_Settings
DB_URL=Your_DB_URL
MAIL_SERVER_PASSWORD=Your_Mail_Server_Password
JWT_PRIVATE_KEY=Your_JWT_Private_Key


# .env.staging
# JWT_SECRET=Your_JWT_Secret
# MONGO_INITDB_ROOT_USERNAME=admin
# MONGO_INITDB_ROOT_PASSWORD=root
# MONGO_URI=mongodb://admin:root@192.168.11.100:27017/admin
# MONGO_URI=mongodb://localhost:27017
# LOCALHOST=192.168.11.100
# PORT=8000
# NODE_ENV=staging
# DEBUG=Your_Debug_Settings
# DB_URL=Your_DB_URL
# MAIL_SERVER_PASSWORD=Your_Mail_Server_Password
# JWT_PRIVATE_KEY=Your_JWT_Private_Key